# TODO: validate if objects loaded with pickle need dependencies installed (clear the list)
# umap needed?
# scikit needed?
# umap-learn==0.5.2
# scikit-learn==1.0.1

flask-restx==0.5.1
Flask-Cors==3.0.10
torch==1.10.0
pytorch-pretrained-bert==0.6.2
gdown==4.2.0
